<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAmXdtj3pO1lzG4q12n6A8f1O4Tk2KHyRM</string>
	<key>GCM_SENDER_ID</key>
	<string>266939016833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotespublish.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mynotespublish</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotespublish.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266939016833:ios:f8aa3acee1bffd115b8f80</string>
</dict>
</plist>